import(fields, graphics, grDevices, MCMCpack, methods, mixOmics, mvtnorm, snowfall, stats, utils)
export(Analysis.permutation)
export(Postprocess.R2GUESS)
export(Extend.R2GUESS)
export(Resume.R2GUESS)
export(as.ESS.object)
export(boxplotbeta)
export(check.convergence)
export(FDR.permutation)
export(get.best.models)
export(get.g.sweep)
export(get.sweep.best.model)
export(pairwise.correlation)
export(plotcim)
export(plotcim.explore)
export(plotmodel)
export(plotMPPI)
export(plotvariable)
export(R2GUESS)
export(R2GUESS.perm)
export(sample.beta)
export(summarybest.model)
export(wrapper)
export(example.as.ESS.object)
S3method(plot,ESS)
S3method(print,ESS)
S3method(summary,ESS)
